.icon {
  &-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: theme("colors.primary-clear");
    transition: background-color 0.3s;
    &-icon {
      width: 24px;
      height: 24px;
      color: white;
    }
  }
}
