@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 203 35% 18%;
    --primary-foreground: 210 40% 98%;
    --secondary: 216 82% 13%;
    --secondary-foreground: 204 35% 18%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 204 35% 18%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-gray-100 text-foreground;
  }
  input::placeholder,
  textarea::placeholder {
    @apply text-gray-100;
  }
}

.bg-jac-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(49 99 127 / var(--tw-bg-opacity));
}